In [1]:
import pandas as pd

In [3]:
# 학습 데이터 셋 불러오기
trainset = pd.read_csv('ratings_train.txt', sep='\t')

In [7]:
# dataframe으로 보기
pd.DataFrame(trainset).head(5)

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

- id : 식별자
- document : 영화에 관한 리뷰
- label : 긍정부정 여부 , (1:긍정, 0:부정)

In [1]:
conda list

Note: you may need to restart the kernel to use updated packages.