## 파일입출력

In [1]:
print('a')

a

In [2]:
print('a','b','c','d')

a b c d

In [4]:
name = 'dominica'
addr = 'seoul'
print(addr, name)
print(name,addr)

seoul dominica
dominica seoul

In [8]:
print(name,addr,sep='^^')

dominica^^seoul

In [11]:
print(name,addr,sep='^^',end='\n')
print('hello')

dominica^^seoul
hello

In [10]:
print(name,addr,sep='^^',end='\t')
print('hello')

dominica^^seoul	hello

In [12]:
import io

In [1]:
# dir()

In [2]:
# dir(io)

In [3]:
# help(io.DEFAULT_BUFFER_SIZE)

In [16]:
io.DEFAULT_BUFFER_SIZE

8192

In [21]:
name = 'Dominica'
addr = 'Seoul'
print(name, addr, sep="_", file=open('C:\\Users\\JAY\\Desktop\\플레이데이터\데일리파일\\a.txt', 'w'))
# w 쓰기, a : append, r : read

In [26]:
import pandas as pd
aa = pd.read_csv('a.txt',sep='\t')

In [27]:
aa

Empty DataFrame
Columns: [Dominica_Seoul]
Index: []

In [35]:
print(name, sep="_", file=open('C:\\Users\\JAY\\Desktop\\플레이데이터\데일리파일\\a.txt', 'a'))

In [36]:
print('abcdddddddddddddddd', file=open('C:\\Users\\JAY\\Desktop\\플레이데이터\데일리파일\\a.txt', 'a'))

## 포맷서식

In [37]:
'%10.2f'%(90.789)

'     90.79'

In [38]:
print('%10.2f'%(90.789))

     90.79

In [39]:
name = '홍길동'
print('%10s'%(name))

       홍길동

In [40]:
print('%-10s'%(name))

홍길동

In [41]:
print('name:%-10s 님'%(name))

name:홍길동        님

In [42]:
print('%-10d'%(100))

100

In [43]:
print('%-10o'%(100))

144

In [44]:
print('%-10x'%(100))

64

In [45]:
print('%-10.2f'%(100.1234))

100.12

In [79]:
print('%07.2f'%(10.1255555))

0010.13

In [4]:
# dir(str)

In [52]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [65]:
print('{0} and {1}'.format('a','b'))

a and b

In [66]:
print('{1} and {0}'.format('a','b'))

b and a

In [67]:
print('{w2} and {w1}'.format(w1='a',w2='b'))

b and a

In [68]:
print('{name} and {addr}'.format(name='JJ', addr='encore'))

JJ and encore

In [69]:
print('{0:10} and {1}'.format('a','b'))

a          and b

In [72]:
print('{0:>10s} and {1:^10s}'.format('a','b'))

         a and     b

In [74]:
print('{0:>10} and {1:^10s} and {2:^10.2f}'.format('a','b',6.99))

         a and     b      and    6.99

In [75]:
print('{:06d} and {:06d}'.format(27))

IndexError: Replacement index 1 out of range for positional args tuple

In [78]:
print('{:06d} and {:06d}'.format(27,35))

000027 and 000035

In [81]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [84]:
help(str.zfill)

Help on method_descriptor:

zfill(self, width, /)
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.

In [82]:
s = 'Python'

In [83]:
print(s.zfill(10))

0000Python

In [85]:
help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [88]:
print(s.center(10,'*'))

**Python**

In [89]:
print(s.ljust(10,'*'))
print(s.rjust(10,'*'))

Python****
****Python

In [90]:
help(str.rjust)

Help on method_descriptor:

rjust(self, width, fillchar=' ', /)
    Return a right-justified string of length width.

    Padding is done using the specified fill character (default is a space).

In [91]:
input()

10

'10'

In [92]:
a = input()

10

In [93]:
a

'10'

In [99]:
a = list(input())

1234

In [100]:
a, type(a)

(['1', '2', '3', '4'], list)

# 다음 학부 생들의 명단을 참고해서 도전과제의 결과를 파이썬으로 구현해보자.
1. 교양과목을 수강하는 학생을 나열한다.
2. 전공과목을 수강하는 학생을 나열한다.
3. 교양과목과 전공과목을 모두 듣는 학생을 구하시오.
4. 교양과목과 전공과목에서 교양과목만 듣는 학생을 구하시오.

|교양과목(GE) | 전공과목(ME) |
| :-- | :-- |
| Dominica | RuSe |
| Millo | Dominico |
| RuRi | Dominica |
| RuSe | RuO |
| RuO | luccica |
| Polio | Jojan |

In [110]:
GE = set(('Dominica', 'Millo', 'RuRi', 'RuSe', 'RuO', 'Polio'))
ME = set(('RuSe', 'Dominico', 'Dominica','RuO','luccica','Jojan'))

In [111]:
GE # 교양과목 듣는 학생
# 또는 print(GE)

{'Dominica', 'Millo', 'Polio', 'RuO', 'RuRi', 'RuSe'}

In [112]:
ME # 전공과목 듣는 학생
# 또는 print(ME)

{'Dominica', 'Dominico', 'Jojan', 'RuO', 'RuSe', 'luccica'}

In [113]:
GE.intersection(ME) # 교양과목과 전공과목을 모두 듣는 학생

{'Dominica', 'RuO', 'RuSe'}

In [114]:
GE.difference(ME) # 교양과목만 듣는 학생

{'Millo', 'Polio', 'RuRi'}