In [1]:
import pandas as pd

In [4]:
# 실습데이터 로드
df = pd.read_csv('data\gapminder.tsv', sep='\t')

In [6]:
df.tail(3)

       country continent  year  lifeExp       pop   gdpPercap
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [7]:
# type 확인 <class 'pandas.core.frame.DataFrame'>
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [8]:
# df의 크기 보기 (shape는 attribute )
print(df.shape)

(1704, 6)

In [9]:
# 각 컬럼 이름 보기
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [10]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

#### 자료형 차이 (잘 쓰이는 자료형)

| 판다스 | 파이썬 | 설명 |
| :-- | :-- | :-- |
| object | string | 문자열 | 
| int64 | int | 정수 |
| float64 | float | 소수점을 가진 숫자 |
| datetime 64 | datetime | 파이썬 표준 라이브러리인 datetime이 반환하는 자료형 |

---

In [13]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106