# iris 데이터를 이용한 SVM study2

## 1. Module Configuration

In [1]:
from sklearn.svm import SVC
import pandas as pd

## 2. Data Loader

In [2]:
csv = pd.read_csv('../data/iris.csv')
csv.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

## 3. Data Split and Shuffle
- Train DataSet과 Test DataSet으로 분리
- label을 확인하면 sklearn 데이터셋은 잘 안섞여 있는 특징을 보인다.

In [3]:
label = csv['variety']
data = csv.iloc[:, :4]

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train, X_test, y_train, y_test = train_test_split(data, label) #train_size=0.8, test_size=0.2)

In [6]:
X_train

     sepal.length  sepal.width  petal.length  petal.width
15            5.7          4.4           1.5          0.4
63            6.1          2.9           4.7          1.4
23            5.1          3.3           1.7          0.5
54            6.5          2.8           4.6          1.5
84            5.4          3.0           4.5          1.5
..            ...          ...           ...          ...
66            5.6          3.0           4.5          1.5
112           6.8          3.0           5.5          2.1
59            5.2          2.7           3.9          1.4
117           7.7          3.8           6.7          2.2
30            4.8          3.1           1.6          0.2

[112 rows x 4 columns]

## 4. 모델 생성, 학습 진행

In [7]:
model = SVC()

model.fit(X_train, y_train)

SVC()

In [8]:
pred = model.predict(X_test)
pred

array(['Virginica', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Versicolor', 'Versicolor',
       'Setosa', 'Versicolor', 'Setosa', 'Versicolor', 'Setosa',
       'Versicolor', 'Setosa', 'Versicolor', 'Setosa', 'Virginica',
       'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Virginica', 'Versicolor'], dtype=object)

## 5. 성능평가

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
score = accuracy_score(y_test, pred)
score

0.9736842105263158

In [11]:
# !pip install graphviz

In [12]:
from graphviz import Source

dot_digraph = """
digraph graphname {
    rankdir=LR;
    a -> b -> c -> e -> f;
    b -> d;
}
"""

s = Source(dot_digraph, filename='simple_digraph', format='png')
s.view()

'simple_digraph.png'