In [4]:
print('hello') # shift + enter / ctrl + enter

hello

파이썬 데이터분석

In [5]:
파이썬 데이터분석

SyntaxError: invalid syntax (<ipython-input-5-9fbd646de93c>, line 1)

# Hello markdown1
## Hello markdown2
### Hello markdown3
#### Hello markdown4
* python 2.7
* python 3.9

```python
s = "Python syntax highlighting"
print s
def add(a, b):
    return a + b
```

> Blockquotes starts


This is **Python**


__webpage 호환__
- [python webwage](https://www.python.org/)
- [naver](https://www.naver.com/)
- [주요 기사](https://news.naver.com/main/read.naver?mode=LSD&mid=shm&sid1=100&oid=003&aid=0010877005)

# 마크다운 주요 단축키 설명
 - 셀을 실행시키는 단축키: shift+enter, ctrl+enter
 - a: 위에 셀을 생성
 - b: 밑에 셀을 생성
 - dd: 셀을 삭제
 - z: 잘못 삭제했을 경우에 되돌리는 법
 - m: markdown 형태로 바뀜
 - y: code 형태로 바뀜

In [6]:
a = 10 # '=' 같다로 해석하지 말 것
print(a)

10

In [7]:
a = 10
b = 20
c = a + b
print(c)

30

In [8]:
def add(a,b):
    return a+b

c = add(4,5) #add 함수 실행결과를 c에 저장
print(c)

9

In [9]:
from sklearn.linear_model import LinearRegression

model = LinearRegression() # model이라는 변수에 머신러닝 기법을 저장

In [10]:
days = 31
print('한 달은', days, '입니다.')

한 달은 31 입니다.

In [11]:
days = 30
print('한 달은', days, '입니다.')
days = 31
print('한 달은', days, '일 이기도 합니다..')

한 달은 30 입니다.
한 달은 31 일 이기도 합니다..

**변수명 규칙**
 - 한글문자 또는 언저바(숫자)로 시작 불가
 - 대소문자 구분
 - 특수문자도 사용 불가

__데이터 타입__
 - 정수형(int)
 - 실수형(float)
 - 문자형(str)

In [17]:
# 연산 문제
x = (2+4) * 5 / (2*2)**2
print(x)

1.875

# 문자형이란?

 - '' or "" 붙여서 사용됨
 - '안녕하세요', "안녕하세요"

In [18]:
word = 'apple'
print(word)

apple

In [20]:
word = "apple"
print(word)

apple

In [22]:
# 정수형
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [23]:
# 실수형
a = 23.1
print(a)
print(type(a))

23.1
<class 'float'>

In [24]:
a = 'jongwoo'
print(a)
print(type(a))

jongwoo
<class 'str'>

In [26]:
a = 10
b = 30

a+b

40

In [28]:
# 여러줄인 경우에 문자 (\n: 이스케이프 코드)

day = 'i like python\ni need python'
print(day)

i like python
i need python

In [30]:
multi = """i like python
i need python"""

print(multi)

i like python
i need python

In [31]:
name = '안재진'
print(name)

안재진

In [35]:
greet = '안녕하세요.'
print(name + '님 ' + greet)

안재진님 안녕하세요.

In [36]:
a = 'blue' * 5
print(a)

blueblueblueblueblue

# 인덱싱(Indexing), 슬라이싱(Slicing)
 - 인덱싱: 무엇인가를 '가리킨다'
 - 슬라이싱: 무엇인가를 '잘라낸다'

In [38]:
a = 'Hello World!'
print(a)

Hello World!

In [39]:
# 문자열 인덱싱
print(a[4])

o

In [40]:
print(a[0])

H

In [41]:
print(a[-1])

!

In [42]:
print(a[-2])

d

In [44]:
# 문자열 슬라이싱
b = a[0:5]
print(b)

Hello

In [49]:
c = a[6:11]
print(c)

World

In [50]:
a[0] + a[1] + a[2] + a[3] + a[4]

'Hello'

변수명[시작번호:끝번호]와 같은 형식으로 쓰이며, 끝번호는 포함하지 않는다.

In [51]:
a[:5]

'Hello'

In [52]:
a[6:]

'World!'

In [53]:
a = '2021-12-08 PM14:27'
a

'2021-12-08 PM14:27'

In [60]:
year = a[:4]
month = a[5:7]
day = a[9:11]

In [61]:
year, month, day

('2021', '12', '8 ')

문자열 포맷팅  
: 문자열 안에 어떤 값을 삽입하는 방법

In [63]:
color = '파랑'
s = '나는 %s을 좋아합니다.'%color # %에 color 값을 넣겠다.
print(s)
color = '초록'
s = '나는 %s을 좋아합니다.'%color
print(s)

나는 파랑을 좋아합니다.
나는 초록을 좋아합니다.

In [64]:
kor = 90
eng = 100
math = 85

sum = kor+eng+math
avg = sum/3

print('합계: %d, 평균: %.2f'%(sum,avg))

합계: 275, 평균: 91.67

In [66]:
# 포백코드와 숫자 사용
a = '%-10s' %'hi'
print(a)

hi

In [68]:
a = '%.4f' %3.42134234
print(a)

3.4213

format함수를 이용한 포맷팅
- {}괄호를 이용한 포맷팅 방법

In [72]:
number = 5
a = 'i want {} eggs'.format(number)
print(a)

i want 5 eggs

In [73]:
color = 'white'

In [74]:
day = 'ten'

In [75]:
a = 'i like {} eggs. so i ate them for {} days'.format(color, day)

In [76]:
a

'i like white eggs. so i ate them for ten days'

In [80]:
print('데이터 분석%s 해봅시다.'%' 열심히')

데이터 분석 열심히 해봅시다.

**글자를 진하게 써봅시다.**  
__글자를 진하게 써봅시다.__  
___글자를 진하게 써봅시다.___

# 여러가지 문자열 함수

In [88]:
# 문자열의 길이를 구하는 함수
message = '안녕하세요 오늘은 수요일입니다.'
str_len = len(message)
a = str(str_len)
print('문자열의 길이: ' + a)

문자열의 길이: 17

In [89]:
# 문자열의 개수
a = 'happy'
b = a.count('p')
print(b)

2

In [98]:
# 문자열의 위치 반환
a = 'i like egg'
f = a.find('e')
print(f)

5

In [95]:
# 문자열 삽입
j = ','.join('abcd')

In [97]:
print(j)

a,b,c,d

In [100]:
# upper / lower

a = 'HI'
b = 'hi'
c = 'Hi my name is Jongwoo'
c.upper()

'HI MY NAME IS JONGWOO'

공백에 대한 함수(strip)

In [101]:
a = '            hi   '
print(a)

            hi

In [102]:
l = a.lstrip()
print(l)

hi

In [104]:
a.strip()

'hi'

In [105]:
a = '--------hello python-------'
s = a.strip('-')
s

'hello python'

In [106]:
# 문자열 바꾸기
a = 'Life is bad'
s = a.replace('bad','good')
print(s)

Life is good

# replace, split, strip

In [109]:
# 문자열 나누기(split)
dat = s.split()
print(dat)

['Life', 'is', 'good']

In [110]:
b = 'a:b:c:d'
s = b.split(':') # ':'값을 구분자로 문자열을 나누겠다.
print(s)

['a', 'b', 'c', 'd']

복수의 데이터를 담는 그릇을 복합자료형이라고 생각해보자.

# 복합자료형
- 리스트(list) +++++
- 튜플(tuple) ++
- 셋(set)+
- 딕셔너리(dictionary) +++++

여러 개의 데이터를 다룰 때, 하나의 변수에 많은 값들을 집어넣기 위하여...!

In [111]:
score = [90,89,77,95,67]
fruit = ['apple','banna','white']

print(score)
print(fruit)

[90, 89, 77, 95, 67]
['apple', 'banna', 'white']

In [120]:
a = [1,2,3,['a','b','c'],4,5]
a

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [122]:
a[3][:2]

['a', 'b']

In [124]:
num = list(range(1,21,2)) # 1부터 20까지 2씩 증가하는 데이터 생성
print(num)
print(num[3:7])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[7, 9, 11, 13]

In [126]:
a = [1,2,3]
b = [4,5,6]
c = a+b
len(c)

6

In [127]:
# 리스트에서 값 수정
a = [1,2,3]
a[2] = 4

print(a)

[1, 2, 4]

In [128]:
del a[2]
print(a)

[1, 2]

In [129]:
a = [1,2,3,4,5]
del a[2:]
print(a)

[1, 2]

In [138]:
a = 'i like egg'
a.find('e')

5

In [140]:
a.find('e', 6)

7

In [141]:
b = 'i @@want eggs!!'
b.replace('@@','').replace('!!','')

'i want eggs'

In [142]:
# 리스트에 요소를 추가하는 법
a = [1,2,3]
a.append(4)

In [144]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [145]:
# 리스트 안에 요소 삽입
a = [1,2,3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [146]:
# 리스트 안에 요소 제거
a = [1,2,3,1,2,3]
a.remove(3)

In [148]:
sub = ['국어','수학','과학','영어']
sub

['국어', '수학', '과학', '영어']

In [150]:
sub.remove('수학')

In [152]:
sub

['국어', '과학', '영어']

# 딕셔너리(dictionary)
 - KEY, VALUE PAIR 형태로 이루어짐
 - KEY값은 중복을 허락하지 않음

In [155]:
D = {'A': 100, 'B':200, 'C':300}
print(D)
print(type(D))

{'A': 100, 'B': 200, 'C': 300}
<class 'dict'>

In [156]:
dict1 = {'이름': '구은혜', '소속':'빅데이터 그룹', '층수':30}
dict1

{'이름': '구은혜', '소속': '빅데이터 그룹', '층수': 30}

In [159]:
dict1.keys()

dict_keys(['이름', '소속', '층수'])

In [160]:
dict1.values()

dict_values(['구은혜', '빅데이터 그룹', 30])

In [162]:
name = ['구은혜','안재진']
group = ['빅데이터 그룹', '경영지원팀']
income = [5000, 6000]

dict3 = {'이름':name, '소속':group, '월 수익':income}
dict3

{'이름': ['구은혜', '안재진'], '소속': ['빅데이터 그룹', '경영지원팀'], '월 수익': [5000, 6000]}

In [171]:
name.append('임채범')
group.append('AI팀')
income.append(5000)

dict3 = {'이름':name, '소속':group, '월 수익':income}
dict3

{'이름': ['구은혜', '안재진', '임채범', '임채범'],
 '소속': ['빅데이터 그룹', '경영지원팀', 'AI팀', 'AI팀'],
 '월 수익': [5000, 6000, 5000, 5000]}

In [172]:
del dict3['소속'][0]

In [173]:
dict3

{'이름': ['구은혜', '안재진', '임채범', '임채범'],
 '소속': ['경영지원팀', 'AI팀', 'AI팀'],
 '월 수익': [5000, 6000, 5000, 5000]}

In [169]:
dict3['월 수익'][1]

6000

# 입력문

- 사용자에게 데이터를 입력 받기 위한 함수
- input() 함수로 입력을 받을 경우에 저희는 __문자열__ 타입으로 받기 때문에 목적에 따라 변환 필요
- input() 함수를 통해 입력받은 값을 할당할 수 있는 변수가 필요

In [182]:
height = int(input('당신의 키는?'))

당신의 키는?177

In [183]:
type(height)

int

In [185]:
a = input('정사각형 한 변의 길이는?')
area = int(a) ** 2
print('정사각형의 넓이: ', area)

정사각형 한 변의 길이는?10
정사각형의 넓이:  100

In [189]:
print('i', end = ' ')
print('like', end = ' ')
print('you', end = ' ')

i like you

In [190]:
# 문자열 형식 지정 출력
name = 'jongwoo'
print('Hello, %s!' % name)

Hello, jongwoo!

In [191]:
name = 'jongwoo'
age = 29

print('%s는 %d 살 입니다.' % (name,age))

jongwoo는 29 살 입니다.

구매하려는 상품의 가격을 입력하고 구매을 위해 낼 금액 입력하면 거스름돈 출력

In [198]:
cost = input('상품의 가격을 입력해주세요: ')
pay = input('지불 금액을 입력해주세요: ')

rest = int(pay) - int(cost)
print('상품은' + cost + '원이고, 잔돈은' + str(rest) + '원입니다.')

상품의 가격을 입력해주세요: 2000
지불 금액을 입력해주세요: 3000
상품은2000원이고, 잔돈은1000원입니다.

In [200]:
name = 'Na'
age = 10

print('%s 는 %d 살 입니다' % (name,age))

Na 는 10 살 입니다