## 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif

- 조건부분에 bool 데이터 타입 외에 데이터 타입이 오면 bool로 형변환 되어 판단

In [8]:
if True :
    print('python')
    
print('done')

python
done

- int : 0을 제외한 나머지 값은 True

In [9]:
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [10]:
num = 0
if num :
    print('python1')
    
num = 1
if num :
    print('python2')

python2

In [11]:
number = 7
if number & 2 : # 굳이 == 0 안써도 됨
    print('홀수')

홀수

- float : 0.0을 제외한 나머지 실수는 True
- str : ""를 제외한 나머지 문자열은 True
- list, tuple, dict : [], (), {}를 제외한 나머지는 True

#### 예제
- 지갑에 돈이 10000원 이상 있으면 택시를 탄다.
- 2000원 이상, 10000원 미만 있으면 버스를 탄다.
- 그렇지 않으면 걸어서 집에 간다.

In [15]:
money = 9999

if money >= 10000 :
    print('택시를 타고 집에 갑니다.')
elif money >= 2000 :
    print('버스를 타고 집에 갑니다.')
else :
    print('걸어서 집에 갑니다.')

버스를 타고 집에 갑니다.

#### 예제
- 계좌에 10000원이 들어있습니다.
- 인출 금액이 계좌에 있는 금액보다 크면 '인출이 불가능합니다.' 출력
- 인출 금액이 계좌에 있는 금액보다 작으면 '인출 되었습니다.' 출력
- 마지막 현재 계좌의 금액을 출력

In [3]:
data = int(input('draw money : '))
account = 10000 # 현재 잔액
if data > account :
    print('인출이 불가능합니다.')
else : 
    print('인출 되었습니다.')
    print('현재 잔액 : {}'.format(account-data))

draw money : 10000
인출 되었습니다.
현재 잔액 : 0

In [8]:
account = 10000

draw_money = int(input('insert draw money : '))

if account >= draw_money :
    account -= draw_money
    print(str(draw_money) + '원이 인출 되었습니다.')
    
else : 
    print('인출이 불가능합니다. ' + str(draw_money - account) + '원의 잔액이 부족합니다.')

print('현재 잔액은 '+ str(account) + ' 원 입니다.')

insert draw money : 4000
4000원이 인출 되었습니다.
현재 잔액은 6000 원 입니다.

In [9]:
# string 데이터 타입의 format 함수
# print('{}'.format())
# print('{data1} ~~ {data2}'.format(data2=num1, data1=num2))  안에 식별자 넣어주면 순서대로 아니고 원하는대로 넣을 수 있음

## 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
- (True) if (condition) else (False)

In [11]:
# data 변수에 0이면 'zero' 출력, 아니면 'not zero' 출력
data = 1
if data :
    print('not zero')
else : 
    print('zero')

not zero

In [13]:
data = 1
'not zero' if data else 'zero'

'not zero'

## 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehension

## while 문

In [14]:
data = 3

while data: # 조건이 False가 될 때까지 구문의 코드를 실행
    
    # 반복되는 코드
    print(data)
    data -= 1

3
2
1

#### 문제
- 학생이 국어 : 80점, 영어 : 90점, 수학 : 100점
- while 문을 이용해서 총점과 평균을 출력
- 학생의 점수는 list, dict 표현
- len, dict.values(), list.pop() 등등 방법

In [21]:
# score = {'Korean' : 80, 'English' : 90, 'Math' : 100}
# score_value = dict.values(score)
# l = len(score_value)
# while l :

3

In [22]:
subjects_ls = ['korean', 'english', 'math']
points_ls = [80, 90, 100]
points_dict = {'korean' : 80, 'english' : 90, 'math' : 100}
total, avg = 0, 0

In [24]:
datas = points_ls.copy() # 깊은 복사를 해서 원본 데이터를 보존

In [25]:
while datas :
    total += datas.pop()

avg = total/ len(points_ls)

total, avg

(270, 90.0)

### 무한루프
- 조심하자
- break : 반복문을 중단 시킬 때 사용되는 예약어

In [26]:
result = 1
while result :
    result += 1
    
    if result >= 10 :
        break        
    
print(result)

10

## for 문
- iterable한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable 변수의 값 갯수 만큼 실행
```
for <variable> in <iterables> :
    <code>
```
- continue : 조건부분으로 올라가서 코드를 실행

In [28]:
ls = [0, 1, 2, 3, 4]
for data in ls :
    
    if data % 2 : # 홀수가 되면 continue 실행
        continue
    
    # data가 짝수이면 print를 실행
    print(data, end=' ')

0 2 4

- for를 이용해서 100번 실행
- **range** 함수
    - range(100) : 0부터 99까지의 100개의 숫자가 생성

In [29]:
result = 0
for data in range(100) :
    result += data
result

4950

In [30]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [34]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5, 10)), list(range(0, 10, 2)), list(range(10,0,-2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8], [10, 8, 6, 4, 2])

In [35]:
# 0 ~ 10 까지 짝수를 더한 총합
result = 0
for number in range(0, 11, 2) :
    result += number
result

30

In [36]:
points_dict = {'korean' : 80, 'english' : 90, 'math' : 100}

In [38]:
list(points_dict.keys())

['korean', 'english', 'math']

In [37]:
for data in points_dict : # for문에 딕셔너리를 넣으면 키값만을 리스트로 만들어 for문에 사용한다.
    print(data)

korean
english
math

In [39]:
list(points_dict.items()) # key, value를 튜플로 만들어서 리스트로 만들어 준다.

[('korean', 80), ('english', 90), ('math', 100)]

In [41]:
for subject, point in points_dict.items() : # 두개의 변수(key, value)를 한번에 받아서 사용 가능
    print(subject, point)

korean 80
english 90
math 100

In [43]:
# for 문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을 수 있다.
subjects_ls = ['korean', 'english', 'math']
points_ls = [80, 90, 100]
for subject, point in zip(subjects_ls, points_ls) : # zip 함수를 사용해도 됨
    print(subject, point)

korean 80
english 90
math 100

- 구구단 출력 (가로출력)
    - 이중 for문 안에 for 문
    - print : end='\t'
    - string : format 함수 이용
```
2*1=2   3*1=3   ...   9*1=9
...
2*9=18  3*9=27  ...   9*9=81
```

In [4]:
# for 문 예제
# 구구단 출력 (가로 출력)
# 이중 for문
for i in range(1,10) :
    for j in range(2,10) :
        print('{}*{}={}'.format(j,i,j*i), end='\t')
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

## List Comprehension
- 리스트 데이터를 만들어주는 방법
- for문보다 빠르게 동작합니다.

In [1]:
# 각각 값에 제곱한 결과 출력
ls = [0, 1, 2, 3]
result = []
for data in ls :
    result.append(data**2)
    
result

[0, 1, 4, 9]

In [2]:
result = [ data**2 for data in ls ]
result

[0, 1, 4, 9]

In [3]:
# 리스트 컴프리헨션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항 연산자도 쓰자
ls = [0, 1, 2, 3]
result = ['짝수', '홀수', '짝수', '홀수']

result = [
    '짝수' if data%2==0 else '홀수' for data in ls
]
result

['짝수', '홀수', '짝수', '홀수']

## 리스트 컴프리헨션 조건문

In [4]:
ls = range(10)
[ data for data in ls if data%2 ] #리스트 컴프리헨션문 뒤쪽에 if를 배치

[1, 3, 5, 7, 9]

In [5]:
ls = [1,2,3] # 필터링 기능을 사용해보자.
[ func for func in dir(ls) if func[:2] != '__' and func[0] == 'c']

['clear', 'copy', 'count']

## for문과 list comprehension 성능 비교
- for문보다 보통 1.5배정도 더 빠름

In [7]:
%%timeit
ls = []
for num in range(1, 10001) :
    if num % 3 == 0:
        ls.append(num)
len(ls)

1.18 ms ± 139 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [8]:
%%timeit
ls = [num for num in range(1,10001) if num % 3 ==0 ]
len(ls)

673 µs ± 43.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)