In [2]:
import pandas as pd
import seaborn as sns

# pandas datatype
- 자료형 변환은 데이터 분석 과정에서 반드시 알아야 할 요소 중 하나
- 카테고리는 문자열로 변환해야 분석 수월
- 예) 전화번호 : 숫자로저장 -> 문자열로 변환

In [3]:
# seaborn에 있는 tips 데이터
tips = sns.load_dataset('tips')

In [6]:
# 데이터타입 확인
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [7]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

### astype을 이용해 데이터타입 변경하기

In [9]:
# 새로운 series를 만들어 dataframe에 추가하기
tips['sex_str'] = tips['sex'].astype(str)
tips.dtypes # sex_str의 데이터 타입은 object

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [12]:
# 기존 series의 타입을 바꾸기 total_bill : float -> object
tips['total_bill'] = tips['total_bill'].astype(str)
print(tips.dtypes)
tips = sns.load_dataset('tips') # 원래 데이터 다시 불러오기

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object