1. 어떤 회원이 생년월일 입력란에 890724를 입력했을 때, 해당 문자를 연/월/일로 각각 나누어 출력

In [1]:
# 입력값은 그냥 int라 하겠음
birth = 890724
print(f'열/월/일 : 19{str(birth)[0:2]}/{str(birth)[2:4]}/{str(birth)[4:]}')

열/월/일 : 1989/07/24

2. 어떤 유통회사의 유통일자가 20190603으로 입력되었을 때, 해당 문자를 2019-06-03으로 출력하기

In [2]:
# 입력값은 그냥 int라 하겠음
date = 20190603
date = str(date)
print(f'{date[0:4]}-{date[4:6]}-{date[6:]}')

2019-06-03

3. 어떤 고객이 휴대전화번호를 010-1234-5678으로 입력했을 때, 해당 문자를 010123456789로 출력하기

In [4]:
number = '010-1234-5678'
number = number.replace('-','')
print(number)

01012345678

4. 매장의 물품 명단 중 하나가 "DAILY ESSENTIALS REFRESHING TONER REVIES"로 되어 있을 때, 해당 품명을 소문자로 바꾸기

In [5]:
sentence = "DAILY ESSENTIALS REFRESHING TONER REVIES"
sentence = sentence.lower()
print(sentence)

daily essentials refreshing toner revies

5. 간단한 한영 사전 만들기\
1부터 10까지 한글을 입력하면 영어로 출력되는 프로그램

In [1]:
def dictionary(word):
    dictionary = {'일':'one', '이':'two', '삼':'three', '사':'four', '오':'five', '육':'six', '칠':'seven', '팔':'eight', '구':'nine', '십':'ten'}
    print(dictionary[word])

dictionary('일')

one

6. 아래의 리스트(list)를 선언하고 중복 값을 제거하여 출력해 보기

In [2]:
ls = [1,1,1,1,3,3,3,4,5,5,4,5,7,8,13]
print(list(set(ls)))

[1, 3, 4, 5, 7, 8, 13]

7. 값을 입력받아 원의 넓이를 구하는 프로그램 만들기

In [5]:
import math
radius = int(input())

print(math.pi*(radius**2))

 3

28.274333882308138

8. 값(x)을 입력받아 아래의 함수 계산하기 (y구하기)

In [9]:
x = int(input())
y1 = x**2 - x + 100
y2 = 2*x + 25
y3 = (x**2 + x) / x
print(f'y1 : {y1}, y2 : {y2}, y3 : {y3}')

 3

y1 : 106, y2 : 31, y3 : 4.0