# 파이썬 기본 문법

변수 선언, 식별자, 자료형, 형변환, 연산자

## 주석(comment) & 출력(print)

1. 주석(comment)
    - #을 써서 사용
    - 코드 설명 기능
    - 출력을 원하지 않을 때 사용
    - 단축키 : ctrl + /
    
    

2. 출력(print)
    - 변수값 확인 원할 때 사용
    - default : print(value, ... , sep=' ', end='\n') -> 띄어쓰기, 줄바꿈 등 설정 변경 가능

## 참고
1. docstring : 함수 설명 기능 (shift + tab)
2. 자동완성 : tab을 누르면 쓸 수 있는 것 목록이 다 떠서 선택하면 된다

## 변수 선언
- RAM 저장 공간에 값을 할당하는 행위

In [4]:
a = 1
b = 2
c, d = 3, 4

## 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 함
- 식별자 규칙
    - 소문자, 대문자, 숫자, _ , 를 사용할 수 있음
    - 단, 맨 앞에 숫자로 시작하지 못함
    - 예약어 사용 못함 (예 : def, class, try... etc)
- 컨벤션
    - snake case : 변수, 함수 이름에 사용 (예 : data_science) 
    - camel case : 클래스 이름에 사용 (예 : DataScience, dataScience)

## 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑 : 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정 (파이썬 특징)

In [11]:
a, b = 1, 'python'
type(a), type(b)

(int, str)

- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [13]:
a = 'data'

In [15]:
#문자열 함수 1. upper() : 대문자로 바꿔줌
a.upper()

'DATA'

In [17]:
#문자열 함수 2. lower() : 소문자로 바꿔줌
a.upper().lower()

'data'

In [18]:
b = ' data science '

In [21]:
#문자열 함수 3. strip() : 공백 제거
b.strip()
# b.replce(' ','')

'data science'

In [22]:
#문자열 함수 4. replace() : 특정 문자열 치환
b.replace('data','computer')

' computer science '

## 참고 
dir(b) : 변수 b에 쓸 수 있는 모듈 및 함수 리스트가 쫙 뜬다

## 오프셋 인덱스
- 문자열은 순서가 있는 문자들의 집합
- 마스크, 마스킹 : []

In [26]:
c = 'abcdefg'
c[1] # c의 1번 인덱스 값을 출력

'b'

In [34]:
c[:3], c[-2], c[2:5], c[3:], c[-2:]

('abc', 'f', 'cde', 'defg', 'fg')

In [33]:
c[::2] #stride : 2칸씩 점프

'aceg'

In [37]:
c[::-1] #역순으로 출력

'gfedcba'

In [38]:
numbers = '123456789'
# 97531 출력
numbers[::-1][::2]

'97531'

## 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple () : 순서가 있는 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고 키:값 으로 구성되어 있는 데이터 타입

### 1. list (리스트)

In [5]:
ls = [1,2,3,'four', [5,6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

1.1 offset index 사용 가능

In [6]:
ls[3], ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

1.2 list 함수

In [15]:
ls = [1,5,2,4]
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [16]:
# sort : 오름차순으로 정렬
ls.sort()
ls
# ls[::-1] : 내림차순 정렬

[1, 2, 3, 4, 5]

In [17]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(5, [1, 2, 3, 4])

1.3 리스트의 복사

In [18]:
ls1 = [1,2,3]
ls2 = ls1 # 얕은 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [19]:
ls1[2] = 5

In [20]:
ls1, ls2 # 둘다 같음, 왜??? > 주소값복사(얕은 복사) 같은 주소를 참조하고 있기 때문에.

([1, 2, 5], [1, 2, 5])

In [21]:
ls3 = ls1.copy() # 깊은 복사, 새로운 주소 생성
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [23]:
ls1[2] = 10
ls1, ls3

([1, 2, 10], [1, 2, 5])

### 2. Tuple(튜플)
- 리스트와 같지만 수정이 불가능한 데이터 타입
- 튜플은 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [26]:
tp1 = 1,2,3
tp2 = (4,5,6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

1.1 튜플 offset index

In [27]:
tp1[1], tp1[::-1]

(2, (3, 2, 1))

1.2 튜플과 리스트의 저장공간 차이 비교

In [29]:
import sys
ls = [1,2,3]
tp = (1,2,3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

80 64

### 3. Dict(딕셔너리)
- 순서가 없고 {키 : 값} 으로 구성되어 있는 데이터 타입

In [34]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용
dic = {
    1 : 'one',
    'two' : 2,
    'three' : [1,2,3]
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [32]:
dic[1], dic['three'] # []안에 키 값을 써준다

('one', [1, 2, 3])

In [33]:
dic['two'] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [38]:
# 아래의 데이터를 list와 dict로 선언
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [36]:
# 리스트
city1 = ['seoul', 'busan', 'daegu']
pop1 = [ 9700000, 3400000, 2400000 ]
city1, pop1

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [37]:
# 딕셔너리
dic1 = {
    'seoul' : 9700000,
    'busan' : 3400000,
    'daegu' : 2400000
}
dic1

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [39]:
sum(pop1)

15500000

In [40]:
dic1.values()

dict_values([9700000, 3400000, 2400000])

In [41]:
sum(dic1.values())

15500000

## 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict을 함수로 써주자

In [43]:
a = 1
b = '2'
a+int(b)

3

In [44]:
str(a) + b

'12'

In [45]:
list(dic1.values())

[9700000, 3400000, 2400000]

In [46]:
city1, pop1

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

In [47]:
# zip : 같은 인덱스 값끼리 묶어주는 함수
zip(city1, pop1)

In [49]:
list(zip(city1, pop1))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [50]:
result = dict(list(zip(city1, pop1)))
result

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

In [51]:
data1 =list(result.keys())
data2 = list(result.values())
data1, data2

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

## 연산자
- 산술연산자 : +, -, *, /, //, %, ***
- 할당연산자 : 변수에 누적시켜서 연산 +=, -=, /= 등...
- 비교연산자 : >, <, ==, !=, <=, >= : 결과로 True, False 출력
- 논리연산자 : True, False를 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지 확인할 때 사용, not in, in

In [9]:
# 논리연산
True and False, True or False, not True or False, not (True and False), not True and False # False와 False: 둘다 거짓

(False, True, False, True, False)

In [5]:
# 멤버 연산
ls = ['jin', 'andy', 'jhon']

In [6]:
'andy' in ls, 'anchel' in ls,  'jhon' not in ls

(True, False, False)

In [10]:
# 랜덤함수 예제 : 해결의 책
import random

random.randint(1,10)

10

In [24]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# index 해당하는 솔루션 리스트의 데이터를 출력
sol = [
    "무엇을 하던 잘 안될 것 이다.",
    "생각지도 않게 좋은 일이 생길것이다.",
    "무엇을 상상하던 그 이상이다."
]

# 질문 입력받음
input('질문을 입력하세요. :')

# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(sol)-1)

# index 해당하는 솔루션 리스트의 데이터를 출력
sol[idx]

질문을 입력하세요. :음...?

'무엇을 하던 잘 안될 것 이다.'

## Summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + Enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : ctrl + /
        - 셀 생성 : a(위에), b(아래)
        
- python 기본 문법
    - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙
        - 대문자, 소문자, 숫자, _
        - 가장 앞글자 숫자사용 불가
        - 예약어 사용이 불가 : def, class, try....
        - snake_case(변수, 함수), Camelcase(클래스)
        - pep8 문서
    - 데이터 타입
        - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정
        - 기본 데이터 타입 : int, float, bool, str
        - 컬렉션 데이터 타입 : list(iterable), tuple(iterable), dict  # interable : 순서가 있는 데이터 타입
        - offset index : 특정 위치의 데이터를 출력할 때 사용
            - iterable한 데이터 타입에서만 사용이 가능
            - [] : mask, masking
            - [idx] : idx위치 데이터를 출력
            - [start:end] : start에서 end까지 출력 ( end는 포함되지 않는다. )
            - [start:end:stride] : stride만큼씩 점프하여 출력
        - 각 데이터 타입별로 함수가 있음.
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip
            - 여러개의 리스트를 같은 인덱스 끼리 묶어주는 함수
            - 두개의 리스트를 묶어서 dict으로 형변환
    - 연산자
        - 산술 : +, -, /, //, %, **, *
        - 할당 : (산술)=
        - 비교 : <, >, ==, !=, >=, <=
        - 논리 : and, or, not
        - 멤버 : in, not in