# 배열

- 꼭 알아둬야 할 자료구조 : 배열
- 데이터를 나열하고 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트 타입이 배열 기능을 제공하고 있음

# 배열이 필요한 이유

- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장

# 배열의 장점

- 빠른 접근이 가능

# 배열의 단점

- 추가/삭제가 쉽지 않음
- 미리 최대 길이를 지정해야 함

# 파이썬과 C언어의 배열 예제

 # C언어 예제
 # include <stdio.h>

 int main(int argc, char*argv[])
 {
     char country[3] = "us";
     printf("%c%c\n", country[0], country[1]);
     printf("%s\n", country);
     return 0;
 }

In [3]:
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

# 파이썬과 배열

- 파이썬 리트 활용

In [4]:
# 1차원 배열 : 리스트로 구현
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [5]:
# 2차원 배열 : 리스트로 구현
data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
data[0]

[1, 2, 3]

In [8]:
data[0][0]

1

# 프로그래밍 연습

In [10]:
# 2차원 배열에서 9,8,7순서로 출력해보기
print(data[2][2])
print(data[2][1])
print(data[2][0])

9
8
7

In [11]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [13]:
# 다음 데이터셋에서 전체 이름 안에 M이 몇번 나왔는지 빈도수 출력하기

In [15]:
# 내 풀이
count = 0
for i in range(len(dataset)) :
    for j in range(len(dataset[i])) :
        if dataset[i][j] == 'M' :
            count += 1
else :
    print(count)

38

In [ ]:
# 강사님 풀이
m_count = 0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            m_count += 1
print (m_count)