# 배열

## 예시

- 어떤 학생 그룹의 시험 점수를 집계해야 한다고 가정한 프로그램
- 학생 5명의 시험 점수를 입력받아 합계와 평균을 구하는 프로그램

In [1]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하자.

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요. : '))
score2 = int(input('2번 학생의 점수를 입력하세요. : '))
score3 = int(input('3번 학생의 점수를 입력하세요. : '))
score4 = int(input('4번 학생의 점수를 입력하세요. : '))
score5 = int(input('5번 학생의 점수를 입력하세요. : '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total/5}점입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.

1번 학생의 점수를 입력하세요. :  40
2번 학생의 점수를 입력하세요. :  50
3번 학생의 점수를 입력하세요. :  60
4번 학생의 점수를 입력하세요. :  70
5번 학생의 점수를 입력하세요. :  80

합계는 300점입니다.
평균은 60.0점입니다.

- 요구사항1
    - 학생수가 바뀌면? 학생수를 입력받아 정보를 출력해야한다면?
- 요구사항2
    - 특정 학생의 시험점수를 확인하고 싶다면?
- 요구사항3
    - 최저, 최고점을 구하거나 시험점수별 정렬을 하고싶다면?
    
이럴 경우, 각각 변수에 하나씩 값을 저장해서는 위와 같은 요구사항을 반영하기 어렵다.\
그러므로, 배열로 만들어서 관리해보자.

## 파이썬의 배열 - 리스트, 튜플

- 리스트와 튜플은 데이터 컨테이너(data container)라고 한다.
- 리스트와 튜플은 비슷한 기능을 하는 듯하지만 원소를 변경할 수 있는지 없는지에 따라 차이가 있다.

### 리스트
- 원소를 변경할 수 있는 뮤터블(mutable) list형 객체

In [2]:
#빈 리스트
ls01 = []

# [1,2,3]
ls02 = [1, 2, 3]

# 맨 마지막 원소에 쉼표를 써도 된다.
ls03 = ['A', 'B', 'C',]

In [3]:
print(ls01)
print(ls02)
print(ls03)

[]
[1, 2, 3]
['A', 'B', 'C']

In [4]:
# list() 메소드로 리스트 만들기
ls04 = list()
ls05 = list('ABC') # 문자열의 각 문자로부터 원소를 생성 -> ['A', 'B', 'C'] 
ls06 = list([1,2,3]) # list casting to list
ls07 = list((1,2,3)) # list casting from tuple
ls08 = list({1,2,3}) # list casting from set

print(ls04)
print(ls05)
print(ls06)
print(ls07)
print(ls08)

[]
['A', 'B', 'C']
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [6]:
# range(), list() 함수를 조합하여 특정 범위의 정수로 구성된 리스트 생성
ls09 = list(range(7))
ls10 = list(range(3,8))
ls11 = list(range(3,13,2))
print(ls09, ls10, ls11, sep='\n')

[0, 1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7]
[3, 5, 7, 9, 11]

In [7]:
# 리스트의 원소 개수는 리스트를 만들기 전에 반드시 결정해야 한다.
# 원소값을 정하지 않는 리스트는 None을 이용하면 된다.
ls12 = [None]*5
print(ls12)

[None, None, None, None, None]

### 튜플
- 원소를 변경할 수 없는 이뮤터블(immutable) 자료형
- 콤마(,)와 ()를 써서 만든다.

In [10]:
tp01 = ()
tp02 = 1, # 숫자 여러개를 ,로 이어서 쓰면 튜플로 생성된다. 콤마가 없으면 튜플이 아니라 단순 변수로 여기기 때문이다.
tp03 = (1,)
tp04 = 1,2,3
tp05 = 1,2,3, # 맨 뒤에 콤마를 써도된다.
tp06 = (1,2,3)
tp07 = (1,2,3,)
tp08 = 'A','B','C'

print(tp01, tp02, tp03, tp04, tp05, tp06, tp07, tp08, sep='\n')

()
(1,)
(1,)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
('A', 'B', 'C')

In [12]:
# 콤마를 안쓰면 단순 변수다.
v01 = 1
v02 = (1)
tp = (1,)
print(v01, v02, tp, sep='\n')

1
1
(1,)

In [15]:
# 파이썬 내장 함수인 tuple()을 사용하면 문자열이나 리스트 등 여러 가지 자료형 객체를 원소로 하는 튜플을 생성할 수 있다.
tp09 = tuple()
tp10 = tuple('ABC') # 문자열에 문자 하나씩 원소 생성
tp11 = tuple([1,2,3]) # 리스트로 써도 튜플 생성
tp12 = tuple({1,2,3}) # set(집합)으로 써도 튜플 생성

print(tp09, tp10, tp11, tp12, sep='\n')

()
('A', 'B', 'C')
(1, 2, 3)
(1, 2, 3)

### 리스트와 튜플 언팩(unpack)

좌변에 변수 여러개를 놓고, 우변에는 리스트나 튜플을 놓으면 좌변에 각각 변수에 리스트나 튜플값이 할당되는 것

In [16]:
x = [1,2,3]
a,b,c = x 
print(a,b,c)

1 2 3

In [18]:
a,b,c,d = x # 물론 변수와 리스트의 원소 수는 같아야 한다.

ValueError: not enough values to unpack (expected 4, got 3)

### 인덱스

In [20]:
x = [11,22,33,44,55,66,77]
print(x[2])
print(x[-3])
x[-4] = 3.14 # 값 변경
print(x)

33
55
[11, 22, 33, 3.14, 55, 66, 77]

In [22]:
[print(type(i)) for i in x]

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

[None, None, None, None, None, None, None]

In [23]:
x[7] # 존재하지 않는 인덱스이므로 오류를 출력

IndexError: list index out of range

In [24]:
x[7] = 3.14 # x[7]에는 값을 대입할 수 없으므로 오류를 출력

IndexError: list assignment index out of range

### 슬라이싱

In [25]:
s = [11,22,33,44,55,66,77]
x[0:6]

[11, 22, 33, 3.14, 55, 66]

In [26]:
x[0:7]

[11, 22, 33, 3.14, 55, 66, 77]

In [28]:
s[0:7:2]

[11, 33, 55, 77]

In [29]:
s[-4:-2]

[44, 55]

In [31]:
s[3:1] # 리스트 s에 인덱스값이 앞이 더크면 빈 리스트출력, 오류가 나지는 않음

[]

In [32]:
# 알아두면 좋을 리스트 슬라이싱
print(s[:]) # 전체 출력
print(s[::2]) # 2칸씩 출력
print(s[::-1]) # 뒤에서부터 앞으로 전체 출력

[11, 22, 33, 44, 55, 66, 77]
[11, 33, 55, 77]
[77, 66, 55, 44, 33, 22, 11]

In [37]:
tp04[1]=1

TypeError: 'tuple' object does not support item assignment