# iris 데이터를 이용한 SVM study1

## 1. Module Configuration

In [13]:
import pandas as pd
from sklearn.svm import SVC

## 2. Data Loader

In [14]:
csv = pd.read_csv('../data/iris.csv')
csv.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

## 3. Data Split and Shuffle

In [21]:
label = csv['variety']
data = csv.iloc[:, :4]
# data = csv[['sepal.lenght', 'sepal.width', 'petal.length', 'petal.width']]

In [22]:
data

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

## 4. Model Generate and Training

In [26]:
model = SVC()

In [27]:
model.fit(data, label)

SVC()

## 5. Prediction

In [29]:
pred = model.predict([
    [5.2, 3.4, 1.2, 0.2],
    [2.7, 0.4, 3.4, 4.0],
    [1.2, 3.2, 2.2, 12.2]
])
pred

array(['Setosa', 'Virginica', 'Virginica'], dtype=object)